body {
  background-color: $lightest-blue;
}

h1 {
  text-align: center;
}

fieldset {
  text-align: center;
}

#sign-in {
  width: 80%;
  margin-left: 10%;

  & input {
    width: 100%;
  }
}

label {
  display: block;
  text-align: left;
}