$timing: .4s;

#choose {
  overflow: hidden;
}

h2 {
  font-size: rem(36);
}
h3 {
  font-size: rem(24);
  text-transform: uppercase;
}

.name {
  position: fixed;
  z-index: 99;
  left: 50%;
  @include transform(translateX(-50%));
  color: white;
}
.chosen .svg-heart { transition: all linear 250ms 250ms; }
.chosen .svg-heart,
:not(.chosen) .name:hover .svg-heart {
  fill: $red;
  stroke: $red;

  position: relative;
  top: -2px;
  height: 34px;
  width: 37px;
  margin-bottom: -4px;
}

.choice {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;

  & .svg-arrow.left {
    position: absolute;
    top: 10%;
    left: 10vh;
  }
  & .svg-arrow.right {
    position: absolute;
    bottom: 10%;
    right: 10vh;
  }
}

.name-a {
  background-color: seagreen;
  background-image: $grad1;

  & .name { top: 10%; }
}
.name-b {
  background-color: skyblue;
  background-image: $grad2;
  @include clip-path(polygon(0% 100%, 100% 100%, 100% 80%, 0% 20%));

  & .name { bottom: 10%; }
}

.name-a.chosen {
  @include animation(growNameA, $timing - .1s, ease, forwards);

  & .name { @include animation(sink, $timing, ease, forwards); }
}
@include keyframes(growNameA) {
  0% {
    z-index: 10;
    @include clip-path(polygon(100% 0%, 0% 0%, 0% 20%, 100% 80%, 100% 80%));
  }
  25% {
    z-index: 10;
    @include clip-path(polygon(100% 0%, 0% 0%, 0% 40%, 100% 100%, 100% 100%));
  }
  100% {
    z-index: 10;
    @include clip-path(polygon(100% 0%, 0% 0%, 0% 100%, 0% 100%, 100% 100%));
  }
}
@include keyframes(sink) {
  from {
    @include transform(translate(-50%, 0%));
  }
  to {
    top: 50%;
    @include transform(translate(-50%, -50%));
  }
}
.name-b.chosen {
  @include animation(growNameB, $timing - .1s, ease, forwards);

  & .name { @include animation(rise, $timing, ease, forwards); }
}
@include keyframes(growNameB) {
  0% {
    z-index: 10;
    @include clip-path(polygon(0% 100%, 100% 100%, 100% 80%, 0% 20%, 0% 20%));
  }
  25% {
    z-index: 10;
    @include clip-path(polygon(0% 100%, 100% 100%, 100% 60%, 0% 0%, 0% 0%));
  }
  100% {
    z-index: 10;
    @include clip-path(polygon(0% 100%, 100% 100%, 100% 0%, 100% 0%, 0% 0%));
  }
}
@include keyframes(rise) {
  from {
    @include transform(translate(-50%, 0%));
  }
  to {
    bottom: 50%;
    @include transform(translate(-50%, 50%));
  }
}
