.svg-heart {
  fill: rgba(255,255,255,0);
  stroke: $text-color2;
  stroke-width: 1px;
  
  height: 30px;
  width: 33px;
  transition: all linear .25s;
}

.svg-arrow {
  fill: none;
  stroke: $text-color2;
  stroke-width: 8px;
  stroke-linecap: square;
  stroke-linejoin: miter;

  height: 26px;
  width: 13px;
  opacity: .5;

  &.left { @include transform(rotate(180deg)); }
}