.svg-heart {
  fill: $red-clear;
  stroke-width: 1px;
  
  height: 24px;
  width: 27px;
  transition: all linear .25s;
}

.svg-arrow {
  fill: none;
  stroke-width: 8px;
  stroke-linecap: square;
  stroke-linejoin: miter;

  height: 26px;
  width: 13px;
  opacity: .3;

  &.right {
    stroke: $text-color;
  }
  &.left {
    stroke: $text-color2;
    @include transform(rotate(180deg));
  }
}