body {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

header {
  flex: 0 0 auto;
  padding: 8px;
  background-color: $black;
  text-align: center;
}

h3 {
  font: {
    family: $font-primary;
    weight: 400;
    size: rem(18);
  }
  text-transform: uppercase;
  color: $highlight;
}

main {
  flex: 1 1 auto;
  min-height: 40px;
  overflow: auto;
  background-color: $black;
}

.list-kind {
  font-size: rem(22);
  color: $invert;
}

.names {
  background-image: $list-grad-boy;
}


.name {
  position: relative;
  display: flex;
  align-items: center;
  padding: {
    top: 5px;
    bottom: 5px;
  }
  border: {
    top: 1px solid $invert;
    bottom: 1px solid $invert;
  }
}
.editing {
  background-color: $red;
}

.name-order {
  flex: 0 auto;
  opacity: .5;
  width: 2em;
  font-size: rem(22);
  text-align: right;
  color: $invert;
}

.name-label { 
  flex: 1;
  padding-left: 20px;

  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font: {
    size: rem(26);
    weight: 600;
  }
}

.edit-btn {
  flex: 0 auto;
  opacity: .8;
  width: 4em;
  background-color: transparent;
  font-weight: 400;
  color: $invert;
}

.create-actions {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: $grey;
}

.create-action {
  flex: 0;
  padding: 8px 12px;
  box-sizing: border-box;
  border-left: 1px solid $invert;
  border-right: 1px solid $invert;
  white-space: nowrap;
  text-transform: uppercase;
}

fieldset {
  position: relative;
  flex: 0 0 auto;
}

input {
  @include appearance(none);
  width: 100%;
  padding: 20px 16px;
  box-sizing: border-box;
  font: {
    family: $font-primary;
    size: rem(26);
    weight: 600;
  }
  color: $black;
}

.input-btn {
  position: absolute;
  bottom: rem(13);
  right: rem(14);
  width: rem(48);
  height: rem(48);
  padding: 0;
  border-radius: rem(24);
  font: {
    size: rem(40);
    weight: 400;
  }
  line-height: 1;
  color: $invert;

  &:focus {
    outline: none;
    border: 3px solid rgba(63,100,205,0.4);
  }
}