// # Colors
// ## Color Names
$red: #ff3663;
$red2: #ff8450;
$brown: #cbaeb4;
$brown2: #937f76;
$yellow: #eDD7c0;
$yellow2: #efe82e;
$palegreen: #c5f1d7;
$palegreen2: #dbf3ff;
$green: #4edbb0;
$green2: #d3edc0;
$aqua: #bad0c6;
$aqua2: #47dad8;
$skyblue: #c5f1eb;
$skyblue2: #7dbcda;
$blue: #73b1e8;
$blue2: #2c6ede;
$darkblue: #1350bb;
$darkblue2: #7580d2;
$prince: #b087d6;
$prince2: #b049d5;

$lightest-blue: #e7f7f7;
$bright-blue: #9ae9e6;
$clear-blue: #68e0de;
$black: #3b3b3b;

$heart: rgba(230, 0, 0, 0.9);
$heart-clear: rgba(230, 0, 0, 0);
$heart-shadow: rgba(255, 0, 0, 1);

// ## Main Colors
$color1: $black;
$color2: skyblue;
$color3: red;
$invert: white;

// ## Gradients
$grad1: linear-gradient(to right, #{$darkblue}, #{$darkblue2});
$grad2: linear-gradient(to right, #{$green}, #{$green2});
$grad3: linear-gradient(to right, #{$blue}, #{$blue2});
$grad4: linear-gradient(to right, #{$yellow}, #{$yellow2});
$grad5: linear-gradient(to right, #{$red}, #{$red2});
$grad6: linear-gradient(to right, #{$aqua}, #{$aqua2});
$grad7: linear-gradient(to right, #{$brown}, #{$brown2});
$grad8: linear-gradient(to right, #{$skyblue}, #{$skyblue2});
$grad9: linear-gradient(to right, #{$prince}, #{$prince2});
$grad10: linear-gradient(to right, #{$palegreen}, #{$palegreen2});

$start-grad: linear-gradient(to bottom, #e9f8f8, #eff0f2);

// ## Background Colors
$background: white;
$bg-invert: black;

// # Type
// ## Font Families 
$font-primary: Open Sans, sans-serif;
$font-secondary: Playfair Display, serif;

// ## Font Sizes
$font-lg: rem(18);
$font-med: rem(16);
$font-sm: rem(14);

// ## Font Weights
$font-weight: 400;

// ## Type Colors
$text-color:  $color1;
$text-color2: $invert;
$link-a: $color3;


// ## Breakpoints
$bkpt-names: 700px;
