// # Colors
// ## Color Names
$red: rgba(230, 0, 0, 0.9);;
$green: #4edbb0;
$light-green: #d3edc0;
$blue: #1350bb;
$light-blue: #7580d2;

$red-clear: rgba(230, 0, 0, 0);
$red-shadow: rgba(255, 0, 0, 1);

// ## Main Colors
$color1: black;
$color2: skyblue;
$color3: red;
$invert: white;

// ## Gradients
$grad1: linear-gradient(to right, #{$blue}, #{$light-blue});
$grad2: linear-gradient(to right, #{$green}, #{$light-green});

// ## Background Colors
$background: white;
$bg-invert: black;

// # Type
// ## Font Families 
$font-primary: Playfair Display, serif;
$font-secondary: Helvetica, sans-serif;

// ## Font Sizes
$font-lg: rem(18);
$font-med: rem(16);
$font-sm: rem(14);

// ## Font Weights
$font-weight: 700;

// ## Type Colors
$text-color:  $color1;
$text-color2: $invert;
$link-a: $color3;


// ## Footer
$footer-height: 55px;
