@import "mixins";
@import "vars";
@import "resets";

#results {
	position: relative;
	background: $grad4;
}

.results {
	display: inline-block;
	width: 50%;
	margin-right: -0.3em;
}

.result {
	box-sizing: border-box;
	padding: 4px 6px;
}