* {
  margin: 0;
  padding: 0;
  border: none; }

html {
  font-size: 62.5%; }

body {
  position: relative;
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
  font-family: Open Sans, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
  color: #3b3b3b; }
  @media screen and (max-device-width: 480px) and (orientation: landscape) {
    body {
      -webkit-text-size-adjust: 80%; } }

#wrapper {
  position: relative; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  cursor: pointer; }

a:hover {
  text-decoration: underline;
  color: red; }

li {
  list-style: none; }

.hidden {
  display: none !important; }

.disabled {
  opacity: 0.6;
  cursor: default; }

h1, h2, h3, h4, h5, h6, p, code {
  line-height: 1.3; }

h1, h2, h3, h4, h5, h6 {
  font-family: Playfair Display, serif;
  font-weight: 700; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #9ae9e6;
  color: #3b3b3b;
  padding: 8px;
  font-family: open sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase; }

canvas {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

input:invalid {
  outline: 2px solid #ff3663; }

.svg-heart {
  display: none;
  fill: rgba(230, 0, 0, 0);
  stroke-width: 1px;
  height: 24px;
  width: 27px;
  transition: all linear .25s; }
  @media (min-width: 700px) {
    .svg-heart {
      display: inline; } }

.svg-arrow {
  fill: none;
  stroke-width: 8px;
  stroke-linecap: square;
  stroke-linejoin: miter;
  height: 26px;
  width: 13px;
  opacity: .3; }
  .svg-arrow.right {
    stroke: #3b3b3b; }
  .svg-arrow.left {
    stroke: white;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

@-webkit-keyframes growNameA {
  0% {
    z-index: 10;
    -webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 20%, 100% 80%, 100% 80%);
    clip-path: polygon(100% 0%, 0% 0%, 0% 20%, 100% 80%, 100% 80%); }
  25% {
    z-index: 10;
    -webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 40%, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0%, 0% 0%, 0% 40%, 100% 100%, 100% 100%); }
  100% {
    z-index: 10;
    -webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 0% 100%, 100% 100%); } }
@keyframes growNameA: {
  0% {
    z-index: 10;
    -webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 20%, 100% 80%, 100% 80%);
    clip-path: polygon(100% 0%, 0% 0%, 0% 20%, 100% 80%, 100% 80%); }
  25% {
    z-index: 10;
    -webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 40%, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0%, 0% 0%, 0% 40%, 100% 100%, 100% 100%); }
  100% {
    z-index: 10;
    -webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 0% 100%, 100% 100%); } }
@-webkit-keyframes growNameB {
  0% {
    z-index: 10;
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 80%, 0% 20%, 0% 20%);
    clip-path: polygon(0% 100%, 100% 100%, 100% 80%, 0% 20%, 0% 20%); }
  25% {
    z-index: 10;
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 60%, 0% 0%, 0% 0%);
    clip-path: polygon(0% 100%, 100% 100%, 100% 60%, 0% 0%, 0% 0%); }
  100% {
    z-index: 10;
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 100% 0%, 0% 0%);
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 100% 0%, 0% 0%); } }
@keyframes growNameB: {
  0% {
    z-index: 10;
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 80%, 0% 20%, 0% 20%);
    clip-path: polygon(0% 100%, 100% 100%, 100% 80%, 0% 20%, 0% 20%); }
  25% {
    z-index: 10;
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 60%, 0% 0%, 0% 0%);
    clip-path: polygon(0% 100%, 100% 100%, 100% 60%, 0% 0%, 0% 0%); }
  100% {
    z-index: 10;
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 100% 0%, 0% 0%);
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 100% 0%, 0% 0%); } }
@-webkit-keyframes sink {
  from {
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); }
  to {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }
@keyframes sink: {
  from {
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); }
  to {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }
@-webkit-keyframes rise {
  from {
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); }
  to {
    bottom: 50%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); } }
@keyframes rise: {
  from {
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); }
  to {
    bottom: 50%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); } }
@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadeOut: {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
#choose {
  height: 100vh;
  overflow: hidden;
  background-color: #3b3b3b; }

h2 {
  font-size: 3.6rem; }

h3 {
  font-size: 1.8rem;
  text-transform: uppercase; }
  @media (min-width: 700px) {
    h3 {
      font-size: 2.4rem; } }

.name {
  position: fixed;
  z-index: 99;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.choice {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 20px);
  text-align: center;
  opacity: 1;
  transition: opacity .75s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .choice .svg-arrow.left {
    position: absolute;
    top: 10%;
    left: 10vw; }
  .choice .svg-arrow.right {
    position: absolute;
    bottom: 10%;
    right: 10vw; }

.name-a {
  background-color: seagreen;
  background-image: linear-gradient(to right, #1350bb, #7580d2);
  color: white; }
  .name-a[data-color="1"] {
    background-image: linear-gradient(to right, #1350bb, #7580d2); }
  .name-a[data-color="3"] {
    background-image: linear-gradient(to right, #73b1e8, #2c6ede); }
  .name-a[data-color="5"] {
    background-image: linear-gradient(to right, #ff3663, #ff8450); }
  .name-a[data-color="7"] {
    background-image: linear-gradient(to right, #cbaeb4, #937f76); }
  .name-a[data-color="9"] {
    background-image: linear-gradient(to right, #b087d6, #b049d5); }
  .name-a .name {
    top: 10%; }
  .name-a .svg-heart {
    stroke: white; }

.name-b {
  background-color: skyblue;
  background-image: linear-gradient(to right, #4edbb0, #d3edc0);
  color: #3b3b3b;
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 80%, 0% 20%);
  clip-path: polygon(0% 100%, 100% 100%, 100% 80%, 0% 20%); }
  .name-b[data-color="2"] {
    background-image: linear-gradient(to right, #4edbb0, #d3edc0); }
  .name-b[data-color="4"] {
    background-image: linear-gradient(to right, #eDD7c0, #efe82e); }
  .name-b[data-color="6"] {
    background-image: linear-gradient(to right, #bad0c6, #47dad8); }
  .name-b[data-color="8"] {
    background-image: linear-gradient(to right, #c5f1eb, #7dbcda); }
  .name-b[data-color="10"] {
    background-image: linear-gradient(to right, #c5f1d7, #dbf3ff); }
  .name-b .name {
    bottom: calc(10% + 20px); }
  .name-b .svg-heart {
    stroke: #3b3b3b; }

.name-a.chosen {
  -webkit-animation: growNameA 0.3s ease forwards;
  animation: growNameA 0.3s ease forwards; }
  .name-a.chosen .name {
    -webkit-animation: sink 0.4s ease forwards, fadeOut 0.5s 1.15s ease forwards;
    animation: sink 0.4s ease forwards, fadeOut 0.5s 1.15s ease forwards; }

.name-b.chosen {
  -webkit-animation: growNameB 0.3s ease forwards;
  animation: growNameB 0.3s ease forwards; }
  .name-b.chosen .name {
    -webkit-animation: rise 0.4s ease forwards, fadeOut 0.5s 1.15s ease forwards;
    animation: rise 0.4s ease forwards, fadeOut 0.5s 1.15s ease forwards; }

.chosen .svg-heart {
  transition: all linear 250ms 250ms; }

.chosen .svg-heart,
:not(.chosen) .choice:hover .svg-heart {
  fill: rgba(230, 0, 0, 0.9);
  stroke: red;
  position: relative;
  top: 0px;
  height: 26px;
  width: 29px;
  margin-bottom: -2px; }

.curtain {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99; }

.progress-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 20px;
  background-color: darkgrey; }

.progress-bar {
  height: 100%;
  width: 0;
  background-color: pink;
  transition: width 500ms ease; }

nav {
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  overflow: visible;
  color: white; }
  nav > label {
    display: block;
    height: 100%; }

.hamburger {
  position: relative;
  top: calc(50% - 1px);
  width: 24px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: white; }
  .hamburger:before, .hamburger:after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: transform 200ms linear; }
  .hamburger:before {
    top: calc(50% - 9px);
    transform-origin: top left; }
  .hamburger:after {
    top: calc(50% + 5px);
    transform-origin: bottom left; }

#nav-menu {
  display: none; }

.nav-opts {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 9;
  min-width: 160px;
  padding: 10px 16px;
  background-color: white;
  color: black;
  text-align: left;
  transition: opacity 150ms ease; }

#nav-menu:checked ~ .nav-opts {
  pointer-events: auto;
  opacity: 1; }

#nav-menu:checked + .hamburger {
  height: 0; }
  #nav-menu:checked + .hamburger:before {
    transform: translateX(3px) rotate(45deg); }
  #nav-menu:checked + .hamburger:after {
    transform: translateX(3px) rotate(-45deg); }

.menu-link {
  padding: 4px 0;
  background-color: transparent;
  text-align: inherit;
  font-size: initial;
  text-transform: initial; }

#clear-data .menu-link {
  color: #ff3663; }

/*# sourceMappingURL=choose.css.map */
